Repository sgdevcamp2022/seagull, pull requests merged in 2023-02, with the labels that each got.

#37 README 수정
  README.md
Labels: documentation, backend

#39 Feat#38 yml 파일 작성
  seagull_backend/src/main/java/smilegate/seagull/config/ListenerConfiguration.java
  seagull_backend/src/main/java/smilegate/seagull/config/MessageListener.java
  seagull_backend/src/main/java/smilegate/seagull/config/ProducerConfiguration.java
  seagull_backend/src/main/java/smilegate/seagull/controller/ChatController.java
  seagull_backend/src/main/java/smilegate/seagull/util/KafkaConstants.java
Labels: backend, chore

#44 be dev #42 room domain, api 개발
  seagull_backend/build.gradle
  seagull_backend/src/main/java/smilegate/seagull/Base62.java
  seagull_backend/src/main/java/smilegate/seagull/WebSocketChatt.java
  seagull_backend/src/main/java/smilegate/seagull/WebSocketConfig.java
  seagull_backend/src/main/java/smilegate/seagull/config/ProducerConfiguration.java
  seagull_backend/src/main/java/smilegate/seagull/config/RedisConfig.java
  seagull_backend/src/main/java/smilegate/seagull/config/WebSocketConfiguration.java
  seagull_backend/src/main/java/smilegate/seagull/room/controller/RoomController.java
  seagull_backend/src/main/java/smilegate/seagull/room/domain/Room.java
  seagull_backend/src/main/java/smilegate/seagull/room/repository/RoomRedisRepository.java
  seagull_backend/src/main/java/smilegate/seagull/room/repository/RoomRepository.java
  seagull_backend/src/main/java/smilegate/seagull/room/service/RoomService.java
  seagull_backend/src/main/java/smilegate/seagull/user/domain/User.java
  seagull_backend/src/main/java/smilegate/seagull/user/service/UserService.java
  seagull_backend/src/test/java/smilegate/seagull/SeagullApplicationTests.java
  seagull_backend/src/test/java/smilegate/seagull/room/service/RoomServiceTest.java
Labels: backend, feat

#46 feat: 룸 도메인 고도화 및 동작 테스트
  seagull_backend/src/main/java/smilegate/seagull/config/WebSocketConfiguration.java
  seagull_backend/src/main/java/smilegate/seagull/room/controller/RoomController.java
  seagull_backend/src/main/java/smilegate/seagull/room/domain/Room.java
  seagull_backend/src/main/java/smilegate/seagull/room/repository/RoomRedisRepository.java
  seagull_backend/src/main/java/smilegate/seagull/room/repository/RoomRepository.java
  seagull_backend/src/main/java/smilegate/seagull/room/service/RoomService.java
  seagull_backend/src/main/java/smilegate/seagull/user/service/UserService.java
  seagull_backend/src/main/java/smilegate/seagull/utils/Base62.java
  seagull_backend/src/main/resources/static/index.html
  seagull_backend/src/main/resources/static/main.js
  seagull_backend/src/test/java/smilegate/seagull/SeagullApplicationTests.java
  seagull_backend/src/test/java/smilegate/seagull/room/service/RoomServiceTest.java
Labels: backend, feat

#47 be dev Room refactor
  seagull_backend/src/main/java/smilegate/seagull/room/controller/RoomController.java
  seagull_backend/src/main/java/smilegate/seagull/room/domain/Room.java
  seagull_backend/src/main/java/smilegate/seagull/room/repository/RoomRepository.java
  seagull_backend/src/main/java/smilegate/seagull/room/service/RoomService.java
Labels: backend, feat

#56 방 생성 후 각자의 웹소켓 연결 구현
  seagull_backend/DockerFile
  seagull_backend/build.gradle
  seagull_backend/src/main/java/smilegate/seagull/SeagullApplication.java
  seagull_backend/src/main/java/smilegate/seagull/WebSocketChatt.java
  seagull_backend/src/main/java/smilegate/seagull/WebSocketConfig.java
  seagull_backend/src/main/java/smilegate/seagull/chatting/controller/ChatController.java
  seagull_backend/src/main/java/smilegate/seagull/chatting/domain/ChatMessage.java
  seagull_backend/src/main/java/smilegate/seagull/config/ListenerConfiguration.java
  seagull_backend/src/main/java/smilegate/seagull/config/MessageListener.java
  seagull_backend/src/main/java/smilegate/seagull/config/ProducerConfiguration.java
  seagull_backend/src/main/java/smilegate/seagull/config/RedisConfig.java
  seagull_backend/src/main/java/smilegate/seagull/config/WebConfig.java
  seagull_backend/src/main/java/smilegate/seagull/config/WebSocketConfiguration.java
  seagull_backend/src/main/java/smilegate/seagull/controller/ChatController.java
  seagull_backend/src/main/java/smilegate/seagull/listener/WebSocketEventListener.java
  seagull_backend/src/main/java/smilegate/seagull/redis/RedisDao.java
  seagull_backend/src/main/java/smilegate/seagull/room/controller/RoomController.java
  seagull_backend/src/main/java/smilegate/seagull/room/domain/Room.java
  seagull_backend/src/main/java/smilegate/seagull/room/domain/RoomUser.java
  seagull_backend/src/main/java/smilegate/seagull/room/repository/RoomRedisRepository.java
  seagull_backend/src/main/java/smilegate/seagull/room/repository/RoomRepository.java
  seagull_backend/src/main/java/smilegate/seagull/room/service/RoomService.java
  seagull_backend/src/main/java/smilegate/seagull/utils/StringBase62.java
  seagull_backend/src/main/resources/static/index.html
  seagull_backend/src/main/resources/static/main.js
  seagull_backend/src/test/java/smilegate/seagull/SeagullApplicationTests.java
Labels: bug, backend, feat

#63 fix:refactor
  seagull_backend/src/main/java/smilegate/seagull/config/WebConfig.java
  seagull_backend/src/main/java/smilegate/seagull/listener/WebSocketEventListener.java
  seagull_backend/src/main/java/smilegate/seagull/room/controller/RoomController.java
  seagull_backend/src/main/java/smilegate/seagull/room/domain/Room.java
  seagull_backend/src/main/java/smilegate/seagull/user/domain/User.java
  seagull_backend/src/test/java/smilegate/seagull/SeagullApplicationTests.java
Labels: backend, chore

#66 방 만들기, 방 입장 기능 구현 완료
  seagull_backend/src/main/java/smilegate/seagull/chatting/controller/ChatController.java
  seagull_backend/src/main/java/smilegate/seagull/config/RedisConfig.java
  seagull_backend/src/main/java/smilegate/seagull/listener/WebSocketEventListener.java
  seagull_backend/src/main/java/smilegate/seagull/redis/RedisDao.java
  seagull_backend/src/main/java/smilegate/seagull/room/controller/RoomController.java
  seagull_backend/src/main/java/smilegate/seagull/room/domain/Room.java
  seagull_backend/src/main/java/smilegate/seagull/room/domain/RoomUser.java
  seagull_backend/src/main/java/smilegate/seagull/room/repository/RoomRedisRepository.java
  seagull_backend/src/main/java/smilegate/seagull/room/repository/RoomUserRedisRepository.java
  seagull_backend/src/main/java/smilegate/seagull/room/service/EnterUserService.java
  seagull_backend/src/main/java/smilegate/seagull/room/service/RoomService.java
  seagull_backend/src/main/java/smilegate/seagull/user/domain/User.java
  seagull_backend/src/main/java/smilegate/seagull/websocket/controller/WebSocketController.java
  seagull_backend/src/main/java/smilegate/seagull/websocket/listener/WebSocketEventListener.java
Labels: bug, backend, feat, chore

#69 url을 받아와 중간에 참여하는 참여자도 영상을 볼 수 있게 수정
  seagull_backend/build.gradle
  seagull_backend/src/main/java/smilegate/seagull/room/controller/RoomController.java
  seagull_backend/src/main/java/smilegate/seagull/room/domain/EnterUserResponse.java
  seagull_backend/src/main/java/smilegate/seagull/room/domain/UrlJsonParsingObject.java
  seagull_backend/src/main/java/smilegate/seagull/room/repository/RoomVideoRepository.java
  seagull_backend/src/main/java/smilegate/seagull/room/service/VideoService.java
  seagull_backend/src/main/java/smilegate/seagull/websocket/controller/WebSocketController.java
Labels: bug, backend, feat

#74 전달 객체에 호스트 ID멤버 추가
  seagull_backend/src/main/java/smilegate/seagull/room/domain/EnterUserResponse.java
  seagull_backend/src/main/java/smilegate/seagull/room/repository/RoomRedisRepository.java
  seagull_backend/src/main/java/smilegate/seagull/room/service/RoomService.java
  seagull_backend/src/main/java/smilegate/seagull/websocket/controller/WebSocketController.java
Labels: backend, feat

#76 feat: enter GET method 추가
  seagull_backend/src/main/java/smilegate/seagull/room/controller/RoomController.java
  seagull_backend/src/main/java/smilegate/seagull/websocket/controller/WebSocketController.java
Labels: backend, feat

#77 fix: room/roomlink url 수정
  seagull_backend/src/main/java/smilegate/seagull/room/controller/RoomController.java
Labels: bug, backend

#81 fix: 중간에 들어온 사용자에게 url 전송하는 로직 수정
  seagull_backend/src/main/java/smilegate/seagull/room/repository/RoomVideoRepository.java
Labels: bug, backend

#82 Redis Video repository 수정
  seagull_backend/src/main/java/smilegate/seagull/chatting/controller/ChatController.java
  seagull_backend/src/main/java/smilegate/seagull/room/repository/RoomVideoRepository.java
  seagull_backend/src/main/java/smilegate/seagull/room/service/VideoService.java
  seagull_backend/src/main/java/smilegate/seagull/websocket/listener/WebSocketEventListener.java
Labels: bug, backend
